<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <connectionStrings>
    <add name="SQLProfileConnString" connectionString="server=WIN-PBMTV7UF8LG\sqlexpress;database=MSPetShop4Profile;uid=sa;pwd=Geheim01!;min pool size=4;max pool size=4;"
      providerName="System.Data.SqlClient" />
    <add name="SQLMembershipConnString" connectionString="server=WIN-PBMTV7UF8LG\sqlexpress;database=MSPetShop4Services;uid=sa;pwd=Geheim01!;min pool size=4;max pool size=4;"
      providerName="System.Data.SqlClient" />
    <add name="SQLConnString1" connectionString="server=WIN-PBMTV7UF8LG\sqlexpress;database=MSPetShop4;uid=sa;pwd=Geheim01!;min pool size=4;max pool size=4;"
      providerName="System.Data.SqlClient" />
    <add name="SQLConnString2" connectionString="server=WIN-PBMTV7UF8LG\sqlexpress;database=MSPetShop4;uid=sa;pwd=Geheim01!;max pool size=4;min pool size=4;"
      providerName="System.Data.SqlClient" />
    <add name="SQLConnString3" connectionString="server=WIN-PBMTV7UF8LG\sqlexpress;database=MSPetShop4Orders;uid=sa;pwd=Geheim01!;min pool size=4;max pool size=4;"
      providerName="System.Data.SqlClient" />
    <add name="OraProfileConnString" connectionString="" providerName="System.Data.OracleClient" />
    <add name="OraMembershipConnString" connectionString="" providerName="System.Data.OracleClient" />
    <add name="OraConnString1" connectionString="" providerName="System.Data.OracleClient" />
    <add name="OraConnString2" connectionString="" providerName="System.Data.OracleClient" />
    <add name="OraConnString3" connectionString="" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <appSettings>
    <!-- Pet Shop DAL configuration settings. Possible values: PetShop.SQLServerDAL for SqlServer, PetShop.OracleServerDALfor Oracle. -->
    <add key="WebDAL" value="PetShop.SQLServerDAL"/>
    <add key="OrdersDAL" value="PetShop.SQLServerDAL"/>
    <add key="ProfileDAL" value="PetShop.SQLProfileDAL"/>
    <!-- Enable data caching -->
    <add key="EnableCaching" value="true"/>
    <!-- Cache duration (in hours-whole number only) -->
    <add key="CategoryCacheDuration" value="12"/>
    <add key="ProductCacheDuration" value="12"/>
    <add key="ItemCacheDuration" value="12"/>
    <!-- Cache dependency options. Possible values: PetShop.TableCacheDependency for SQL Server and keep empty for ORACLE -->
    <add key="CacheDependencyAssembly" value="PetShop.TableCacheDependency"/>
    <!-- CacheDatabaseName should match the name under caching section, when using TableCacheDependency -->
    <add key="CacheDatabaseName" value="MSPetShop4"/>
    <!-- *TableDependency lists table dependency for each instance separated by comma -->
    <add key="CategoryTableDependency" value="Category"/>
    <add key="ProductTableDependency" value="Product,Category"/>
    <add key="ItemTableDependency" value="Product,Category,Item"/>
    <!-- Order processing options (Asynch/Synch) -->
    <add key="OrderStrategyAssembly" value="PetShop.BLL"/>
    <add key="OrderStrategyClass" value="PetShop.BLL.OrderSynchronous"/>
    <!-- Asynchronous Order options -->
    <add key="OrderMessaging" value="PetShop.MSMQMessaging"/>
    <add key="OrderQueuePath" value="FormatName:DIRECT=OS:MachineName\Private$\PSOrders"/>
    <!-- Application Error Log -->
    <add key="Event Log Source" value=".NET Pet Shop 4.0"/>
  </appSettings>
  <system.web>
    <pages theme="PetShop" styleSheetTheme="PetShop"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
         -->
    <authentication mode="Forms">
      <forms name="PetShopAuth" loginUrl="SignIn.aspx" protection="None" timeout="60"/>
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
<!--    <customErrors defaultRedirect="Error.aspx" mode="RemoteOnly"/> -->
    <customErrors mode="Off"/> 
    <sessionState mode="Off"/>
    <anonymousIdentification enabled="true"/>
    <profile automaticSaveEnabled="false" defaultProvider="ShoppingCartProvider">
      <providers>
        <add name="ShoppingCartProvider" connectionStringName="SQLProfileConnString" type="PetShop.Profile.PetShopProfileProvider" applicationName=".NET Pet Shop 4.0"/>
        <add name="WishListProvider" connectionStringName="SQLProfileConnString" type="PetShop.Profile.PetShopProfileProvider" applicationName=".NET Pet Shop 4.0"/>
        <add name="AccountInfoProvider" connectionStringName="SQLProfileConnString" type="PetShop.Profile.PetShopProfileProvider" applicationName=".NET Pet Shop 4.0"/>
      </providers>
      <properties>
        <add name="ShoppingCart" type="PetShop.BLL.Cart" allowAnonymous="true" provider="ShoppingCartProvider"/>
        <add name="WishList" type="PetShop.BLL.Cart" allowAnonymous="true" provider="WishListProvider"/>
        <add name="AccountInfo" type="PetShop.Model.AddressInfo" allowAnonymous="false" provider="AccountInfoProvider"/>
      </properties>
    </profile>
    <!-- Membership Provider for SqlServer -->
    <membership defaultProvider="SQLMembershipProvider">
      <providers>
        <add name="SQLMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SQLMembershipConnString" applicationName=".NET Pet Shop 4.0" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed"/>
      </providers>
    </membership>
    <!-- Membership Provider for Oracle -->
    <!-- 
    <membership defaultProvider="OracleMembershipProvider">
      <providers>
        <clear/>
        <add name="OracleMembershipProvider" 
          type="PetShop.Membership.OracleMembershipProvider" 
          connectionStringName="OraMembershipConnString" 
          enablePasswordRetrieval="false" 
          enablePasswordReset="false" 
          requiresUniqueEmail="false" 
          requiresQuestionAndAnswer="false" 
          minRequiredPasswordLength="7" 
          minRequiredNonalphanumericCharacters="1" 
          applicationName=".NET Pet Shop 4.0" 
          hashAlgorithmType="SHA1" 
          passwordFormat="Hashed"/>
      </providers>
    </membership>
     -->
    <caching>
      <sqlCacheDependency enabled="true" pollTime="10000">
        <databases>
          <add name="MSPetShop4" connectionStringName="SQLConnString1" pollTime="10000"/>
        </databases>
      </sqlCacheDependency>
    </caching>
  </system.web>
  <location path="UserProfile.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="CheckOut.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>